//small devices

$sm-art-box-height : 80px;
$sm-art-box-margin : 20px 10px 0px 0px;
$sm-description-box-height: 60px;
$sm-image-show-width : 575px;

//medium devices
$md-art-box-height : 100px;
$md-art-box-margin : 25px 10px 0px 0px;
$md-description-box-height: 100px;
$md-image-show-width : 991px;

//large devices
$lg-art-box-height : 120px;
$lg-art-box-margin : 30px 10px 0px 0px;
$lg-description-box-height: 120px;
$lg-image-show-width : 100%;


//colors
$color-1 : #fff;
$color-2 : #000000;
$color-3 : rgb(235, 235, 235);

//fonts
$font-1: Montserrat;
$font-2: Arvo;

//html
$html-font-size : 9px;
$html-width : 100%;

//body
$body-width : 100%;

//header
$header-height: 70px;

//main container
$main-container-width : 100%;

//image show span
$image-show-span-bg-color : rgba(0, 0, 0, 0.4);

//social media icon
$social-media-icon-width : 16px;
$social-media-icon-height : 16px;

//change language
$change-language-font-size : 1.9rem;
$change-language-bg-color : transparent;

//description box
$description-box-width : 200px;
$description-box-font-size : 2rem;

//services
$services-font-size : 30px;
$services-color : rgb(17, 17, 17);
$services-p-font-size : 1.2rem;
$services-p-color : rgb(0, 0, 0);

//art box
$art-box-font-size : 1.7rem;

//fa
$fa-font-size : 2.5rem;

//audio producing && photography art box
$ap-bg-color : #EA9999;
$ap-color : rgb(255, 255, 255);

//grphic design
$gd-bg-color : #9fc5f8;
$gd-color : rgb(17, 17, 17);

//footer
$footer-height : 55px;